<div class="container">
  <div class="row text-center">
    <div class="col">
      <h2>Contador</h2>
      <h3>{{contador}}</h3>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <button (click)="incrementar()"  class="btn btn-primary">Incrementar</button>
      <button (click)="decrementar()"  class="btn btn-info">Decrementar</button>
    </div>
  </div>
</div>

<hr>
<div class="row text-center">
  <div class="col">
    <!-- <app-hijo [contador]="contador" (cambioContador)="contador = $event"></app-hijo> -->
    <app-hijo></app-hijo>
  </div>
</div>
